In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from pandas.plotting import scatter_matrix
%matplotlib inline

In [8]:
df = pd.read_csv("Advertising.csv", index_col = 0)

In [5]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [30]:
y = df["sales"]
X = df[["TV", "radio", "newspaper"]]

In [32]:
model = LinearRegression(fit_intercept = True)
cross_val_score(model, X, y, cv = 10, scoring = "r2")
cross_val_score(model, X, y, cv = 10, scoring = "r2").mean()

0.88535622379796164

In [29]:
cross_val_score(model, X, y, cv = 10, scoring = "r2").mean()

0.83611829312324493

In [18]:
y = df["sales"]
X = df[["TV", "radio"]]

In [33]:
model = LinearRegression(fit_intercept = True)
cross_val_score(model, X, y, cv = 10, scoring = "r2")
#cross_val_score(model, X, y, cv = 10, scoring = "r2").mean()

array([ 0.87302696,  0.8581613 ,  0.92968723,  0.89013272,  0.93146498,
        0.93138735,  0.7597901 ,  0.91217097,  0.83891753,  0.92882311])

In [26]:
model.fit(X, y).coef_

array([ 0.0548489 ,  0.23561216])

In [27]:
model.fit(X, y).intercept_

0.0