In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from pandas.plotting import scatter_matrix
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from itertools import combinations
%matplotlib inline
df = pd.read_csv("Credit.csv", index_col = 0)

C:\Users\etqw5lb\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [75]:
df = pd.read_csv('credit.csv', index_col=0)
df = df[df["Limit"] > 3500]
df['Student'] = df["Student"].map({'No':0, 'Yes':1})
df['Married'] = df.Married.map({'No':0, 'Yes':1})
df['Ethnicity'] = df.Ethnicity.map({'Caucasian':0, 'Asian':1, 'African American':2})
df['Female'] = pd.get_dummies(df["Gender"])['Female']
df.drop(['Gender'], axis=1, inplace=True)
df.head(3)

,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity,Balance,Female
1,14.891,3606,283,2,34,11,0,1,0,333,0
2,106.025,6645,483,3,82,15,1,1,1,903,1
3,104.593,7075,514,4,71,11,0,0,1,580,0

In [11]:
y = df["Balance"]
X = pd.DataFrame(df, columns = ["Rating", "Income", "Limit"]) #Alternative assignment method
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
model = linear_model.LinearRegression(fit_intercept = True).fit(X_train, y_train)
model.score(X_test, y_test)

0.7896600622983454

In [53]:
model.coef_

array([  2.63297744, -10.21979461,   0.14674094])

In [54]:
model.intercept_

-701.65496642193568

In [50]:
model.intercept_

-701.65496642193568

In [51]:
model.coef_

array([  2.63297744, -10.21979461,   0.14674094])

In [5]:
list(combinations(["Rating", "Income", "Limit", "Student"], 2))

[('Rating', 'Income'),
 ('Rating', 'Limit'),
 ('Rating', 'Student'),
 ('Income', 'Limit'),
 ('Income', 'Student'),
 ('Limit', 'Student')]

In [6]:
len(list(combinations(["Rating", "Income", "Limit", "Student"], 2)))

6

In [7]:
list(df)

['Income',
 'Limit',
 'Rating',
 'Cards',
 'Age',
 'Education',
 'Student',
 'Married',
 'Ethnicity',
 'Balance',
 'Female']

In [81]:
columns = [c for c in list(df) if c != "Balance"]
results = []
for i in range(1, len(columns) + 1):
    combos = list(combinations(columns, i))
    for c in combos:
        y = df["Balance"]
        X = pd.DataFrame(df, columns = c) #Alternative assignment method
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
        for j in range(2):
            model = linear_model.LinearRegression(fit_intercept = j == 1).fit(X_train, y_train)
            score = model.score(X_test, y_test)
            results.append([score, "Intercept: {}".format(j == 1), c, "Coef: {}".format(model.coef_), "Int: {}".format(model.intercept_)])
# Add coef

In [82]:
max(results)

[0.99896112451243235,
 'Intercept: True',
 ('Income', 'Limit', 'Cards', 'Age', 'Education', 'Student', 'Married'),
 'Coef: [ -9.70635834e+00   3.20926358e-01   2.55767496e+01  -1.18837484e+00\n   2.17753824e-01   5.00295363e+02  -1.54190664e+00]',
 'Int: -677.1179568399203']

In [83]:
max([r for r in results if r[1] == "Intercept: False"])

[0.95180844453358426,
 'Intercept: False',
 ('Income',
  'Limit',
  'Rating',
  'Cards',
  'Age',
  'Education',
  'Student',
  'Married',
  'Female'),
 'Coef: [ -8.08671527e+00   4.33119848e-01  -2.35560593e+00   1.83564116e+01\n  -3.17688273e+00  -1.80933927e+01   5.11924882e+02  -1.90813579e+01\n  -2.00629920e+01]',
 'Int: 0.0']

In [67]:
results[0:10]

[[-0.70930636624697729, 'Intercept: False', ('Income',)],
 [0.086668123255953522, 'Intercept: True', ('Income',)],
 [0.52597804465589704, 'Intercept: False', ('Limit',)],
 [0.53791261505688004, 'Intercept: True', ('Limit',)],
 [0.5040488410587094, 'Intercept: False', ('Rating',)],
 [0.52795880250748994, 'Intercept: True', ('Rating',)],
 [-0.62188240318388599, 'Intercept: False', ('Cards',)],
 [-0.023474129711298808, 'Intercept: True', ('Cards',)],
 [-0.21054446784269221, 'Intercept: False', ('Age',)],
 [-0.01002813933107527, 'Intercept: True', ('Age',)]]